@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://i.pinimg.com/550x/36/30/cd/3630cd837d2d1ca694c7c4e47cad5f78.jpg");
  background-repeat: repeat;
  background-position: center;
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: #981f73;
  background-color: pink;
  border: 3px solid purple;
}

h2{
  color: #981f73;
  background-color: pink;
  border: 3px solid purple;
}

.text{
  color: #981f73;
  background-color: pink;
}

#myCanvas {
background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid purple;
}

